<div class="container">
  <div class="loading" [class.fade-out]="!isLoading()">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>
  <article [class.fade-in]="!isLoading()">
    <h1>{{ post()?.fields?.title }}</h1>
    <div class="meta">
      <div class="date">{{ post()?.fields?.date }}</div>
      @if (post()?.fields?.tags) {
      <div class="tags">
        @for (tag of post()?.fields?.tags; track tag) {
        <span class="tag">{{ tag }}</span>
        }
      </div>
      }
    </div>
    <div class="content" [innerHTML]="content()"></div>
  </article>
</div>
