.container {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;

  .content {
    .posts {
      .post-list {
        .post {
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .post-date {
            color: #666;
            font-size: 0.9rem;
          }

          .post-title {
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1.4;

            a {
              color: #333;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .tags {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;

            .tag {
              background-color: #e5e7eb;
              color: #4b5563;
              padding: 1px 10px;
              border-radius: 10px;
              font-size: 0.675rem;
              line-height: 1.25rem;
            }
          }

          flex-direction: column;
          padding: 0.75rem;
        }
      }
    }
  }
}
