<div class="container">
  <div class="content">
    <div class="posts">
      <div class="post-list">
        @for (post of posts(); track post.id) {
        <div class="post">
          <div class="post-date">{{ post.date }}</div>
          <div class="post-title">
            <a href="/posts/{{ post.date }}/{{ post.id }}">
              {{ post.title }}
            </a>
          </div>
          @if (post.tags) {
          <div class="tags">
            @for (tag of post.tags; track tag) {
            <span class="tag">{{ tag }}</span>
            }
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
